@import url(/styles/apresentacao.css);
@import url(/styles/header.css);
@import url(/styles/carrossel.css);


:root {
--cor-principal: #2D2BA6;
--cor-secundaria:#7AB4C0;
--cor-azulclaro:#008395;
--cor-pretoazulado :#008395;
--cor-pretoclaro :#324B50;
    
}
